/* Global ================*/
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
scroll-behavior: smooth;
}

img{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

button{
    font-family: "Roboto", serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);
    padding: 1em 2em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: var(--smooth);
}

button:hover{
    color: var(--blue);
    background-color: var(--light-blue);
    transition: var(--smooth);
}

p{
    line-height: 40px;
}

.section__tag{
    font-size: 1.75rem;
    font-family: "Roboto", serif;
    text-transform: capitalize;
    color: var(--blue);
}

.section__title{
    font-size: 3.125rem;
    font-family: "Roboto",serif;
    text-transform: capitalize;
    color: var(--light-blue);
    margin-bottom: 18px;
}
.section__detail{
    font-size: 1.25rem;
    font-family: "Montserrat";
    color: var(--gray);
    margin: 0 auto;
}



:root{
    --dark-blue:#06283D;
    --blue: #1363DF;
    --light-blue: #47B5FF;
    --gray: #373A40;
    --coffee:#E1D7C6;
    --white: #DFF6FF;

    --smooth: all .3s ease-in;
    --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);


}

/* Header ================= */
header {
    background-color: var(--blue);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 55px 15px;
}

/*logo*/
.navbar__logo{
    display: flex;
    align-items: center;
}
.navbar__logo img{
    width: 80px;
}

.navbar__logo p{
    font-family: "Roboto", serif;
    font-size:1.125rem;
    text-transform: uppercase;
    color: var(--blue);
    margin-left: 14px;
}

/* MENU */
.navbar__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    transform: translateX(-100%);/*fernei to menu terma aristera*/
    background-color:var(--coffee);
    opacity: 0;
    z-index: 5;
    transition: var(--smooth);
}

.navbar__links.navbar__open{
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);

}

.navbar__link{
    font-size: 1.125rem;
    margin: 55px;
    list-style: none;
}

.navbar__link a{
    font-family: "Roboto", serif;
    color: var(--light-blue);
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--smooth);
}
.navbar__link a:hover{
    color: var(--light-blue);
    transition: var(--smooth);
}

.navbar__btn{
    font-size: 1.125rm;
    margin-left: 35px;
    border: 2px solid var(--coffee);
}
/*Icon/san hamburger panw deksia*/
.navbar__ham {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar__icon { 
    width: 45px;
    height: 6px;
    background: var(--gray) ;
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar__icon:before,
.navbar__icon:after { 
    content: "";
    position:absolute;
    width: 45px;
    height: 6px;
    background: var(--gray) ;
    border-radius: 5px;
    transition: var(--smooth);      
}

.navbar__icon:before {
    transform: translateY(-12px);
  }

  .navbar__icon:after {
    transform: translateY(12px);
  }
/* icon animation  */
.open .navbar__icon {
    transform: translateX(-50px);
    background: transparent;
  }
  
.open .navbar__icon:before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .open .navbar__icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

@media (min-width: 62em){
    .navbar__links{
        position:initial;
        transform: translateX(0);
        opacity: 1;
        background-color: var(--blue);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar__link{
        margin: 0 25px;
    }
    .navbar__link a{
        color: var(--white);
    }
    .navbar__link a:hover{
        color: yellow;
    }
    .navbar__btn{
        margin-left: 0;
        border: none;
    }
    .navbar__ham {
        display: none;
    }

}

/* Banner ================*/
#banner .container{
    background-image: linear-gradient(to bottom, var(--blue), #fff );
}
.banner__desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px
}

.banner__tag{
    font-size: 1.375rm;
    font-weight: bold;
    font-family: "Roboto", serif;
    color: var(--white);
    text-transform: uppercase;
    padding: 5px 0;
}
.banner__title{
    font-size: 2.625 rem;
    font-weight: bold;
    font-family:"Montserrat", serif;
    color: var(--coffee);
    text-transform: uppercase;
    padding: 5px 0;
}

.banner__detail{
    font-size: 1.25 rem;
    font-family: "Montserrat", serif;
    color: var(--blue);
    text-transform: capitalize;
    margin-top: 25px;
}

.banner__btn{
    margin-top: 54px;
}

.banner__btn button {
    font-size: 1.25rem;
}

@media (min-width: 62em){
    #banner .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .banner__img{
        order:2;
        padding-right: 25px;
   }
   .banner__desc{
    order:1;
    text-align: initial;
    width: 60%;
    padding:0 0 0 240px;
   }

   .banner__detail{
    max-width: 800px;
    width: 100%;
   }
}
/* History ================*/
#history .container{
    position:relative;
}
.history__desc{
    text-align: center;
    padding: 0 15px;
}

.history__btn {
    margin-top: 56px;
}
.history__btn button{
    font-size: 1.25rem;
}

@media (min-width: 62rem){
    #history .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .history__desc{
        text-align: initial;
        padding: 0 240px 0 0;
        width: 45%;
    }

}